src/main/mule/sysytem-layer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34609a17-3e62-4694-ae19-95cb095ae24c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="14811ea7-952f-46c3-bf27-1c1eb777160d" basePath="/api/v1/sbi" >
		<http:request-connection host="s-sbi-system-bank-api.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="sysytem-layerFlow" doc:id="7db5d684-a63c-4a12-a342-c53aa0130689" >
		<http:listener doc:name="Listener" doc:id="38f687e9-ea94-4e47-9de0-119c96b6ab05" config-ref="HTTP_Listener_config" path="systemlayer"/>
		<http:request method="POST" doc:name="Request" doc:id="6e1f94aa-624e-49bb-b4ec-f3713627e460" config-ref="HTTP_Request_configuration" path="/core/banking/account/balance">
			<http:headers ><![CDATA[#[output application/java
---
{
	"device_type" : "123456789",
	"client_secret" : "1234567",
	"client_operation" : "123456789",
	"client_id" : "client_id"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="71547090-ed60-4b37-9244-cd168b1dcf73" />
	</flow>
</mule>
